<div class="container">
<footer class="footer">
  <small>
    <p>&copy; Klick Push 2012</p>
  </small>
  <nav class="bottom">
    <ul>
		<li><%= link_to "Home", home_path %>
      	<li><%= link_to "Get Started",    getstarted_path %></li>
		<li><%= link_to "Documentation",    docs_path %></li>
		<li><%= link_to "Blog", blog_path %></li>
		<li><%= link_to "Support", support_path %></li>
    </ul>
  </nav>
</footer>
</div>