<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<div class="container">
    		<%= link_to "Klick Push", home_path, id: "logo" %>
      		<nav>
        		<ul class="nav pull-right">
          			<li><%= link_to "Get Started",    getstarted_path %></li>
          			<li><%= link_to "Documentation",    docs_path %></li>
          			<li><%= link_to "Blog", blog_path %></li>
		  			<li><%= link_to "Support", support_path %></li>
        		</ul>
      		</nav>
    	</div>
  	</div>
</header>