<div class="well sidebar-nav">
	<ul class="nav nav-list">
    	<li class="nav-header">Platforms</li>
       	<li><%= link_to "iOS",    getstarted_ios_path %></li>
        <li><%= link_to "Android",    getstarted_android_path %></li>
		<li><%= link_to "Windows Phone", getstarted_wp_path %></li>
        <li><%= link_to "Actionscript", getstarted_as_path %></li>
		<li><%= link_to "HTML5", getstarted_html5_path %></li>
        <li class="nav-header">Integrations</li>
        <li><%= link_to "Unity", getstarted_unity_path %></li>
		<li><%= link_to "Phone Gap", getstarted_pg_path %></li>
		<li><%= link_to "Corona", getstarted_corona_path %></li>
        <li><%= link_to "Marmalade", getstarted_marmalade_path %></li>
	</ul>
</div>